---
import Episodios from '../../components/Episodios.astro';
import episodiosTotales from '../../data/Episodios.json';
import playlists from '../../data/Playlists.json';
import Layout from '../../layouts/Layout.astro';
import Categorias from '../../components/Categorias.astro';
import SeParte from '../../components/SeParte.astro';
import MasEscuchados from '../../components/MasEscuchados.astro';
import Escuchalo from '../../components/Escuchalo.astro';
import Reproduccion from '../../components/Reproduccion.astro';

export async function getStaticPaths() {
  return playlists.map(
    ({ id, nombre, slug, imagen, descripcion, episodios }) => {
      return {
        params: { slug },
        props: {
          id,
          nombre,
          slug,
          imagen,
          descripcion,
          episodios,
        },
      };
    }
  );
}

export const prerender = false;

const { nombre, descripcion, episodios } = Astro.props;
---

<Layout title={nombre}>
  <main class='w-full flex flex-col justify-start items-center py-5 gap-10'>
    <div class='w-[85%] grid gap-5 md:gap-10 grid-cols-5'>
      <img class='hidden md:flex row-start-1 row-end-3' src='/logo.svg' alt='logo' />
      <div class='col-start-1 md:col-start-2 col-end-6'>
        <h1
          class='text-xl md:text-6xl text-black ft-title transition-all duration-300'
        >
          {nombre}
        </h1>
      </div>
      <div class='col-start-1 md:col-start-2 col-end-6'>
        <p class='text-sm md:text-2xl text-black transition-all duration-300'>
          {descripcion}
        </p>
      </div>
    </div>
    <Episodios
      episodios={episodiosTotales.filter((episodio) =>
        episodios.includes(episodio.numero)
      )}
    />
    <Reproduccion />
    <Escuchalo />
    <Categorias />
  </main>
</Layout>
