---
import Contenido from '../components/Contenido.astro';
import MasEscuchados from '../components/MasEscuchados.astro';
import Layout from '../layouts/Layout.astro';
import Portada from '../components/Portada.astro';
import SobreMi from '../components/SobreMi.astro';
import Oyentes from '../components/Oyentes.astro';
import Reproduccion from '../components/Reproduccion.astro';
import SeParte from '../components/SeParte.astro';
import Categorias from '../components/Categorias.astro';
import Agradecimientos from '../components/Agradecimientos.astro';
---

<Layout title='Sordo pero no mudo - Un podcast de hipoacusia con subtítulos'>
  <main class='w-full flex flex-col justify-start items-center py-5'>
    <Portada />
    <Contenido />
    <MasEscuchados />
    <SobreMi />
    <Oyentes />
    <Reproduccion />
    <SeParte />
    <Categorias />
    <Agradecimientos />
  </main>
</Layout>
