---
import Contenido from '../components/Contenido.astro';
import MasEscuchados from '../components/MasEscuchados.astro';
import Layout from '../layouts/Layout.astro';
import Portada from '../components/Portada.astro';
import SobreMi from '../components/SobreMi.astro';
import Oyentes from '../components/Oyentes.astro';
---

<Layout title='Sordo pero no mudo'>
  <main class='w-full flex flex-col justify-start items-center py-5'>
    <Portada />
    <Contenido />
    <MasEscuchados />
    <SobreMi />
    <Oyentes />
  </main>
</Layout>
