---
import Portada from '../components/Portada.astro';
import Contenido from '../components/Contenido.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Sordo pero no mudo'>
  <main class='w-full flex flex-col justify-start items-center py-5'>
    <Portada />
    <Contenido />
  </main>
</Layout>
