---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Sordo pero no mudo'>
  <main>
    <section class='h-screen'>1</section>
    <section class='h-screen'>2</section>
    <section class='h-screen'>3</section>
  </main>
</Layout>
