---
interface Props {
  color: string;
  descripcion: string;
  numero: string;
}

const { color, descripcion, numero }: Props = Astro.props;
---

<a
  href={`/episodios/${numero}`}
  class:list={[
    'w-80 rounded-[2rem] overflow-hidden',
    { 'bg-[var(--pink)]': color === 'pink' },
    { 'bg-[var(--blue)]': color === 'blue' },
    { 'bg-[var(--yellow)]': color === 'yellow' },
    { 'bg-[var(--red)]': color === 'red' },
  ]}
>
  <slot />
  <h1
    class='px-3 py-3 text-center text-sm md:text-base h-24 transition-all duration-300'
  >
    {descripcion}
  </h1>
</a>
