---
interface Props {
  color: string;
  descripcion: string;
  numero: string;
}

const { color, descripcion, numero }: Props = Astro.props;
---

<a
  href={`/episodios/${numero}`}
  class:list={[
    'w-80 rounded-[2rem] overflow-hidden',
    { 'bg-[#E86985]': color === 'pink' },
    { 'bg-[#83A9F0]': color === 'blue' },
  ]}
>
  <slot />
  <h1
    class='px-3 py-3 text-center text-sm md:text-base h-24 transition-all duration-300'
  >
    {descripcion}
  </h1>
</a>
