---

---

<header class='w-full flex justify-center'>
  <section class='w-4/5 flex flex-row justify-between items-center'>
    <figure class='bg-white px-3 py-4 rounded-b-3xl shadow-lg'>
      <img
        class='invert'
        src='/assets/logotipo.svg'
        alt='Sordo pero no mudo'
      />
    </figure>
    <ul
      class='flex flex-row justify-between bg-white px-2 py-2 rounded-full shadow-lg gap-2'
    >
      <li
        class='rounded-full hover:bg-[var(--blue)] hover:font-medium hover:text-white cursor-pointer px-6 py-2'
      >
        <a href='#'>Episodios</a>
      </li>
      <li
        class='rounded-full hover:bg-[var(--red)] hover:font-medium hover:text-white cursor-pointer px-6 py-2'
      >
        <a href='#'>Categorías</a>
      </li>
      <li
        class='rounded-full hover:bg-[var(--yellow)] hover:font-medium hover:text-white cursor-pointer px-6 py-2'
      >
        <a href='#'>Rutas de escucha</a>
      </li>
      <li
        class='rounded-full hover:bg-[var(--red)] hover:font-medium hover:text-white cursor-pointer px-6 py-2'
      >
        <a href='#'>Participar</a>
      </li>
      <li
        class='rounded-full hover:bg-[var(--blue)] hover:font-medium hover:text-white cursor-pointer px-6 py-2'
      >
        <a href='#'>Apoyar</a>
      </li>
    </ul>
  </section>
</header>
