---
import episodios from '../data/Episodios.json';
import Episodios from './Episodios.astro';

const masEscuchados = episodios.filter((episodio) =>
  ['02', '12', '22'].includes(episodio.numero)
);

export const prerender = false;
---

<section
  class='w-full flex flex-col items-center justify-start gap-20 py-20 bg-[url(/assets/fondo2.svg)] bg-cover bg-no-repeat bg-start'
>
  <h1
    class='text-2xl text-center md:text-6xl text-black ft-title transition-all duration-300'
  >
    MÁS ESCUCHADOS
  </h1>
  <Episodios episodios={masEscuchados} />
</section>
