---
import Comentario from './Comentario.astro';
import testimonios from '../data/Testimonios.json';
const testimoniosToShow = testimonios
  .sort(() => Math.random() - 0.5)
  .slice(0, 6);
---

<section
  class='w-full flex flex-col items-center justify-start gap-20 py-10 bg-[var(--background-color)]'
>
  <div class='flex flex-col gap-4'>
    <h1
      class='text-2xl text-center md:text-6xl text-black ft-title transition-all duration-300'
    >
      OYENTES DEL PODCAST
    </h1>
    <h2
      class='text-sm text-center md:text-2xl text-black ft-title transition-all duration-300'
    >
      tampoco mudos, pero quizás “sordos”.
    </h2>
  </div>
  <div
    class='w-[85%] flex flex-row gap-10 justify-center items-center flex-wrap'
  >
    {
      testimoniosToShow.map((testimonio, index) => (
        <Comentario
          color={['blue', 'red', 'yellow'][index % 3]}
          nombre={testimonio.nombre}
        >
          {testimonio.mensaje}
        </Comentario>
      ))
    }
  </div>
</section>
