<section
  class='w-[85%] grid grid-cols-5 gap-5 auto-rows-[minmax(100px, auto)] py-10'
>
  <div
    class='hidden lg:flex rounded-xl h-64 col-start-1 col-end-2 bg-white bg-[url(/assets/foto1.svg)] bg-cover bg-no-repeat bg-center'
  >
  </div>
  <div
    class='h-64 flex flex-col gap-5 col-start-1 lg:col-start-2 col-end-6 lg:col-end-5 items-center'
  >
    <div class='h-3/4 flex flex-col justify-center items-center gap-5'>
      <h1 class='text-3xl sm:text-6xl ft-title transition-all duration-300'>
        SORDO
      </h1>
      <h1 class='text-3xl sm:text-6xl ft-title transition-all duration-300'>
        <span class='text-xl sm:text-4xl transition-all duration-300'>PERO</span
        > NO MUDO
      </h1>
    </div>
    <div
      class='h-1/4 px-5 flex justify-center items-center bg-[var(--blue)] rounded-full'
    >
      <h2
        class='text-xs text-center sm:text-base font-semibold transition-all duration-300'
      >
        UN PODCAST DE HIPOACUSIA EN PRIMERA PERSONA
      </h2>
    </div>
  </div>
  <div
    class='hidden lg:flex rounded-xl h-64 col-start-5 col-end-6 bg-[url(/assets/foto2.svg)] bg-cover bg-no-repeat bg-center'
  >
  </div>
  <div
    class='hidden md:flex rounded-xl h-56 bg-[url(/assets/foto3.svg)] bg-cover bg-no-repeat bg-center'
  >
  </div>
  <div
    class='hidden md:flex rounded-xl h-56 bg-[url(/assets/foto4.svg)] bg-cover bg-no-repeat bg-center'
  >
  </div>
  <div class='hidden md:flex h-56 flex-col gap-5'>
    <div
      class='rounded-xl h-1/2 bg-[url(/assets/foto5.svg)] bg-cover bg-no-repeat bg-center'
    >
    </div>
    <div
      class='rounded-xl h-1/2 bg-[url(/assets/foto6.svg)] bg-cover bg-no-repeat bg-center'
    >
    </div>
  </div>
  <div
    class='hidden md:flex rounded-xl h-56 bg-[url(/assets/foto7.svg)] bg-cover bg-no-repeat bg-center'
  >
  </div>
  <div class='hidden md:flex rounded-xl h-56 bg-[var(--yellow)]'></div>
</section>
