---
interface Props {
  titulo: string;
  image: string;
  href: string;
}

const { titulo, image, href }: Props = Astro.props;
---

<a
  href={href}
  style={{
    backgroundImage: `url(${image})`,
    backgroundPosition: 'center',
    backgroundSize: 'cover',
    backgroundRepeat: 'no-repeat',
  }}
  class='hover:scale-105 transition-all duration-300 min-w-64 w-full h-32 flex items-center justify-center p-10 rounded-full text-center text-white font-bold cursor-pointer'
>
  {titulo}
</a>
