---
import VoiceIcon from './icons/VoiceIcon';
---

<section
  class='w-full flex flex-col items-center justify-start gap-20 py-10 bg-[var(--background-color)]'
>
  <div class='flex flex-col gap-4'>
    <h1
      class='text-2xl text-center md:text-6xl text-black ft-title transition-all duration-300'
    >
      SÉ PARTE :)
    </h1>
    <h2
      class='text-sm text-center md:text-2xl text-black ft-title transition-all duration-300'
    >
      haciendo clic en el que quieras
    </h2>
  </div>
  <div class='w-[75%] grid grid-cols-5 grid-rows-3 gap-5'>
    <div
      class='bg-[var(--blue)] text-sm transition-all duration-300 md:text-base col-start-1 col-end-4 min-h-32 flex justify-center items-center p-5 text-black text-center rounded-3xl'
    >
      <p>
        <span class='font-bold'>Compartí</span> tu experiencia y vení a grabar un
        episodio
      </p>
    </div>
    <div
      class='bg-[var(--red)] text-sm transition-all duration-300 md:text-base col-start-3 col-end-6 sm:col-start-1 sm:col-end-4 min-h-32 flex justify-center items-center p-5 text-white text-center rounded-3xl'
    >
      <p>
        <span class='font-bold'>Postulá</span> un invitado que te gustaría escuchar
      </p>
    </div>
    <div
      class='bg-[var(--yellow)] text-sm transition-all duration-300 md:text-base col-start-4 col-end-6 row-start-1 row-end-2 sm:row-start-1 sm:row-end-3 h-full flex flex-col gap-5 justify-center items-center p-5 text-black text-center rounded-3xl'
    >
      <VoiceIcon
        className='hidden sm:flex sm:w-10 sm:h-10 md:w-12 md:h-12 transition-all duration-300'
      />
      <p>
        <span class='font-bold'>Pedí</span> un tema para que sea hablado
      </p>
    </div>
    <div
      class="bg-[url('/assets/parte.svg')] bg-center bg-no-repeat bg-cover text-sm transition-all duration-300 md:text-base col-start-1 col-end-6 sm:col-end-5 min-h-32 flex justify-start items-center p-5 text-white text-center rounded-3xl"
    >
      <p class='w-3/5'>
        <span class='font-bold'>Calificá</span> el podcast para poder mejorarlo y
        que llegue a más personas
      </p>
    </div>
    <div
      class='bg-[var(--yellow)] sm:bg-[var(--blue)] text-sm transition-all duration-300 md:text-base col-start-1 col-end-3 row-start-2 row-end-3 sm:row-start-3 sm:row-end-4 sm:col-start-5 sm:col-end-6 min-h-32 flex justify-center items-center p-5 text-black text-center rounded-3xl'
    >
      <p>
        <span class='font-bold'>Doná</span> para que #SPNM sigua existiendo
      </p>
    </div>
  </div>
</section>
